{{ $root := . }}

<section class="{{ $root.color }}">
  <h2 class="heading">{{ $root.title }}</h2>

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $root.entries }}

    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        {{ range $icon_name, $icon_type := $element.icon }}
          {{ if eq $icon_type "brand" }}  <i class="mt-3 fab fa-{{ $icon_name }} fa-3x"></i>{{ end }}
          {{ if eq $icon_type "solid" }}  <i class="mt-3 fas fa-{{ $icon_name }} fa-3x"></i>{{ end }}
          {{ if eq $icon_type "regular" }}<i class="mt-3 far fa-{{ $icon_name }} fa-3x"></i>{{ end }}
          {{ if eq $icon_type "light" }}  <i class="mt-3 far fa-{{ $icon_name }} fa-3x"></i>{{ end }}
        {{ end }}
        <i class="mt-3  fa fa-{{ $element.icon }} fa-3x"></i>
        <h5 class="mt-4">{{ $element.title }}</h5>
        <p class="text-muted">{{ $element.description }}</p>
      </div>
    </div>

    {{ end }}
  </div>
</section>
