{{ $config := .Site.Data.config }}
{{ $sidebar := $config.sidebar }}
{{ $social := $sidebar.social }}
{{ $contact := $config.contact }}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{ .Site.BaseURL }}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted">{{ $sidebar.description }}</p>

    <div class="social my-4">
      {{ range $service, $value := $social }}
        {{ range $icon_type, $hyperlink := $value }}
          <a target="_blank" href="{{ $hyperlink }}" rel="me">
            {{ if eq $icon_type "brand" }}  <i class="fab fa-{{ $service }}"></i>{{ end }}
            {{ if eq $icon_type "solid" }}  <i class="fas fa-{{ $service }}"></i>{{ end }}
            {{ if eq $icon_type "regular" }}<i class="far fa-{{ $service }}"></i>{{ end }}
            {{ if eq $icon_type "light" }}  <i class="far fa-{{ $service }}"></i>{{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>

    {{ if $contact }}
      <a href="#contact" class="btn btn-dark btn-lg">Contact</a>
    {{ end }}

  </div>
</section>
